body {
    background-color: black;
}

.q_icon_with_title .icon_text_holder h5.icon_title {
    font-size: 14px;
    line-height: 23px;
}

.q_icon_with_title.left_from_title.custom_icon_image.tiny .icon_text_holder .icon_holder {
    width: 16px!important;
    padding: 9px 15px 0px 0;
}
.q_icon_with_title .icon_text_inner {
    padding: 0;
}

.three_columns>.column1>.column_inner, .three_columns>.column2>.column_inner, .three_columns>.column3>.column_inner {
    padding: 0 9%;
}

.portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a {
    background-color: #ffffff;
    color: #eabf90;
}

.portfolio_main_holder .item_holder .portfolio_title {
margin-top: 16px;   
margin-bottom: 3px;
}

@media only screen and (max-width: 1100px) and (min-width: 1024px) {
nav.main_menu>ul>li>a {
    padding: 0px 12px;
    font-size: 11px;
}
}

.portfolio_single .portfolio_container {
    margin-top: 40px;
}

.testt p {
padding: 10px;
}

.producttext p {
font-size: 14px;
    line-height: 16px;
}

.smaller p, ul {
font-size: 14px;
    line-height: 18px;
}

p.product.woocommerce.add_to_cart_inline {
    border: 0px !important;
    padding: 10px;
}

span.woocommerce-Price-amount.amount {
    display: none;
}

tfoot {
    display: none;
}

.cart-collaterals {
    display: none;
}

th.product-quantity {
    display: none;
}

td.product-quantity {
    display: none;
}

th.product-price {
    display: none;
}

th.product-subtotal {
    display: none;
}

.hidden {
    display: none;
}

.button_div {
    display: flex;
    align-items: center;
    text-align: left;
}

.button_div span {
    width: 33%;
    cursor: pointer;
}

form span {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.flex-row .wpb_wrapper  {
    display: flex;
    justify-content: center;
}

.block .wpb_wrapper{
    display: block;
}

@media (min-width: 768px) {
    .block {
        width: 45%;
    }
}

.mpc-icon-part {
    max-width: 115px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.footer-menu li:not(:last-child) {
    margin: 15px;
    border-right: 1px solid grey;
    padding-right: 15px;
    line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica', sans-serif;
}