body {
    background-color: black;
}

.q_icon_with_title .icon_text_holder h5.icon_title {
    font-size: 14px;
    line-height: 23px;
}

.q_icon_with_title.left_from_title.custom_icon_image.tiny .icon_text_holder .icon_holder {
    width: 16px!important;
    padding: 9px 15px 0px 0;
}
.q_icon_with_title .icon_text_inner {
    padding: 0;
}

.three_columns>.column1>.column_inner, .three_columns>.column2>.column_inner, .three_columns>.column3>.column_inner {
    padding: 0 9%;
}

.portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a {
    background-color: #ffffff;
    color: #eabf90;
}

.portfolio_main_holder .item_holder .portfolio_title {
margin-top: 16px;   
margin-bottom: 3px;
}

@media only screen and (max-width: 1100px) and (min-width: 1024px) {
nav.main_menu>ul>li>a {
    padding: 0px 12px;
    font-size: 11px;
}
}

.portfolio_single .portfolio_container {
    margin-top: 40px;
}

.testt p {
padding: 10px;
}

.smaller p, ul {
font-size: 14px;
    line-height: 18px;
}

p.product.woocommerce.add_to_cart_inline {
    border: 0px !important;
    padding: 10px;
}

span.woocommerce-Price-amount.amount {
    display: none;
}

.shopping_cart_dropdown span.total {
  display: none;
}

tfoot {
    display: none;
}

.cart-collaterals {
    display: none;
}

th.product-quantity {
    display: none;
}

td.product-quantity {
    display: none;
}

th.product-price {
    display: none;
}

th.product-subtotal {
    display: none;
}

.hidden {
    display: none;
}

.button_div {
    display: flex;
    align-items: center;
    text-align: left;
}

.button_div span {
    width: 33%;
    cursor: pointer;
}

form span {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.flex-row .wpb_wrapper  {
    display: flex;
    justify-content: center;
}

.block .wpb_wrapper{
    display: block;
}

@media (min-width: 768px) {
    .block {
        width: 45%;
    }
}

.mpc-icon-part {
    max-width: 115px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.footer-menu li:not(:last-child) {
    margin: 15px;
    border-right: 1px solid grey;
    padding-right: 15px;
    line-height: 1em;
}

.footer-menu a {
  font-size: 1.5em;
}

.shopping_cart_dropdown ul li a {
    color: #ffffff !important;
}

sup {
font-size: 0.5em;
vertical-align: super;
}

.shopping-bag {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  position: relative;
  background-image: url(img/header_shopping_bag_white@2x.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 18px;
  background-size: contain;
  margin-left: 10px;
}

mark {
background-color: #d88c2b;
}

.gform_drop_area {
border: 1px dashed black !important;
color: black !important;
}

#gform_browse_button_3_3 {
padding: 3px 12px !important;
}

.gform_footer {
text-align: center;
}

input[type=email], 
input[type=number], 
input[type=password], 
input[type=tel],
input[type=text], 
input[type=url], 
textarea {
line-height: 2em !important;
}

.tml-rememberme-wrap {
width: 25px;
margin: 20px 100px;
position: relative;
}

.tml-rememberme-wrap label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.tml-rememberme-wrap label:after {
opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.tml-rememberme-wrap label:hover::after {
opacity: 0.5;
}

.tml-rememberme-wrap input[type=checkbox]:checked + label:after {
opacity: 1;
}
